body {
    /* Positionnement. */
    max-width: 43em;
    margin: auto;
    padding: 1ex 1em;
    line-height: 160%;
    background: white;
    color: black;

    /* Police. */
    font-family: Palatino, "Palatino Linotype",
    "Book Antiqua", Georgia, serif;
}

* html body { margin: 0 7%; }

tr.light {
    background-color: #EEEEEE;
}

tr.dark {
    background-color: #CCCCCC;
}

tr.green {
    background-color: #99DD99;
}

tr.light-green {
    background-color: #BBFFBB;
}

tr.light-blue {
    background-color: #BBBBFF;
}

tr.light-red {
    background-color: #FFBBBB;
}

td.prompt {
    background-color: #CCCCCC;
}

td.text {
    background-color: #CCCC00;
}
