#logo {
  float: left;
  padding: 0;
  margin: 0;
  width: 200px;
  100%;
  font-size: 13px;
  cursor: default;
}

tr.light {
    background-color: #EEEEEE;
}

tr.dark {
    background-color: #CCCCCC;
}

tr.green {
    background-color: #99DD99;
}

tr.light-green {
    background-color: #BBFFBB;
}

tr.light-blue {
    background-color: #BBBBFF;
}

tr.light-red {
    background-color: #FFBBBB;
}

td.prompt {
    background-color: #CCCCCC;
}

td.text {
    background-color: #CCCC00;
}
